/client/node_modules
/client/.pnp
/client/.pnp.js
/client/coverage
/client/build
/client/.DS_Store
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*


/server/dist
/server/temp
/server/logs
/server/*.log
/server/.DS_Store
/server/npm-debug.log*
/server/node_modules
/server/.npm
/server/.env
/server/.idea
/server/src/config.ts
/server/src/migrations
/server/package-lock.json

.idea

